body{font-family: 'Cabin Sketch', cursive;
    background-color:var(--main-color);
    color:var(--primary-color);
    margin:100px 0 0 0;
}
h1{font-size: 64px;
    font-family: 'Lobster', cursive;}
h2{font-size: 48px;
    font-family: 'Lobster', cursive;}
h3{color: var(--third-color);
    font-family: 'Cabin Sketch', cursive;
}

h5{
    color:var(--fourth-color);
    font-size: 32px;
    font-family: 'Lobster', cursive;
}
h6{color:var(--third-color);
    font-family: 'Lobster', cursive;}
footer{background-color:var(--primary-color); }
i{ font-size: 42px;
    color:var(--fourth-color);
margin: 40px 60px;}
button{
    background-color: var(--third-color);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 1px solid var(--fourth-color);
}
button:hover{
    color: var(--main-color);
}
.social{background-color: var(--secondary-color);}
.primary-link {
    font-size: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background:var(--secondary-color) ;
    color:var(--fourth-color);
}
.primary-link:hover{
    color:var(--main-color);
}
.secondary-Link{
   
    text-decoration: none;
}
.Contact-me{ margin:0 auto;
    display:block;
}
.description{
    color:var(--third-color);
    font-size: 20px;
}

.footer{
    color:var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}
.phone-number{
    color:var(--primary-color);
    text-decoration: none!important;
}

.instagram-link,.linkedin-link,.email-link{
    color:var(--primary-color);
    text-decoration: none;
}

.wishes{
  
   font-size: 30px;
    padding: 20px 15px;
    background-color:var(--primary-color);
}
.resume-button{
    padding: 30px;
    background-color:var(--third-color);
    color:var(--fifth-color);
}
.projects-button{
    background-color: var(--primary-color);
    color:var(--fifth-color);
}
.skills-button{
    background-color:var(--secondary-color);
    color:var(--fifth-color);
}
.contact-information{
    
  list-style: none;
    text-align: center;
   list-style-position:inside;
    font-size: 32px;
}
.description{
    color:var(--secondary-color);
    font-size: 18px;
}
.navbar{ 
    background-color: var(--secondary-color);
   
}
.navbar-toggler{width: 50px;
height: 50px;}
.nav-link{color: var(--fourth-color) !important;}
.navbar-brand{color:var(--fourth-color) !important;}
.photo-developer{
    border-radius: 50%;
    border: 3px solid var(--fourth-color);
}
.get-in{color:var(--third-color);}
.active{color: var(--main-color)!important;}
:root{
    --main-color:#1a2e53;
    --primary-color:#c8a784;
    --secondary-color:#eae6cf;
    --third-color:#b1b1b5;
    --fourth-color:#494450;
    --fifth-color:#1a1a22;
}
@media( max-width:576px){
    
    h1{font-size: 48px;
    }
    h2{text-align: center;}
    p{text-align: center;}
   footer{display: none;}
  .primary-link{
       display:block;
       text-align: center;
      
   }
   .get-in{font-size: 36px;}
   .photo-developer{height: 95%;
width: 95%;
display:block;
margin: auto;}
.fa-solid,.fa-brands{display: none;
text-align: center;
}
.phone-number{
    color:var(--primary-color);
    text-decoration: none;
}}